
[Desktop Entry]
Name=gxtuner
GenericName=Tuner
Comment=Simple Tuner Interface for jack
GenericName[fr]=Accordeur
Comment[fr]=Interface d'accordeur simple pour JACK
Keywords=audio;sound;jackd;tuner;tune
Exec=gxtuner
Icon=gxtuner
Categories=AudioVideo;X-Jack;Midi;X-MIDI;
Terminal=false
Type=Application
